{% extends "base.html" %}
{% block content %}
<style>
    body {
        background-image: url("{{ url_for('static', filename='/images/pekayon_wallpaper.jpeg') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .login-container {
        background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a white background with some transparency */
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        margin: auto;
        margin-top: 10%;
    }
</style>

<div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>
            {{ form.remember.label }}<br>
            {{ form.remember }}<br>
        </p>
        <p><input type="submit" value="Login"></p>
    </form>
    <p>
        Don't have an account? 
        <a href="{{ url_for('register') }}" class="btn btn-secondary">Register</a>
    </p>
</div>
{% endblock %}
